<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boxicons/css/boxicons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/icon.png">
    <title >Homepage ∙ Optiverse</title>
</head>

<body>
    <nav class="nav">
        <div class="nav-logo">
            <img src="/Frame_9.png" alt="logo">
            <p>OptiVerse</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/" class="link " id="home">Home</a></li>
                <li><a href="#" class="link ">Topics</a>
                <ul class="dropdown">
                    <li><a href="#"></a>Positive Affirmations</li>
                    <li><a href="#"></a>Mindfulness and Meditation</li>
                    <li><a href="#"></a>InspiringSuccessStories</li>
                    <li><a href="#"></a>SelfImprovementAndGrowth</li>
                    <li><a href="#"></a>GratitudeAndPositivityJournaling</li>
                    <li><a href="#"></a>HealthyLivingAndWellbeing</li>
                    <li><a href="#"></a>RandomActsOfKindness</li>
                    <li><a href="#"></a>ConnectingWithNature</li>
                    <li><a href="#"></a>QuotesAndWisdom</li>
                    <li><a href="#"></a>MusicAndMelodiesForTheSoul</li>
                    <li><a href="#"></a>HobbiesAndLeisure</li>
                    <li><a href="#"></a>BookRecommendationsAndReviews</li>
                    
                </ul>
                </li>
                <li><a href="/your-posts" class="link">Your Posts</a></li>
                <li><a href="#" class="link">Messages</a></li>
                <li><a href="#" class="link">Notifications</a></li>
                <li><a href="#" class="link">My Liked Posts</a>
                <li>
                    <form class="srch" action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">
                            <i class='bx bx-search-alt-2 bx-sm' style='color:#ffffff'></i>
                        </button>
                    </form>

                </li>
            </ul>
        </div>
        <div class="nav-button">
            <a href="/logout"><button class="btn white-btn" id="loginBtn">Log Out</button></a>
        </div>
    </nav>

    <div class="wrapper">
        <!-- Tags -->
        <form class="feed-container" id="create-post" action="/post-thought" method="post">
            <div class="feed-box">
                <textarea name="thought" placeholder="How are you feeling today?" rows="3" cols="50" id="txtArea" required></textarea>
                <div class="feed-interactions">
                    <div class="dropdown">
                        <button type="button" onclick="myFunction()" class="dropbtn post-btn">Tags</button>
                        <div id="myDropdown" class="dropdown-content">
                            <button type="button" onclick="appendTag('PositiveAffirmations')">Positive Affirmations</button>
                            <button type="button" onclick="appendTag('MindfulnessAndMeditation')">Mindfulness and Meditation</a>
                            <button type="button" onclick="appendTag('InspiringSuccessStories')">Inspiring Success Stories</a>
                            <button type="button" onclick="appendTag('SelfImprovementAndGrowth')">Self-Improvement and Growth</a>
                            <button type="button" onclick="appendTag('GratitudeAndPositivityJournaling')">Gratitude and Positivity Journaling</a>
                            <button type="button" onclick="appendTag('HealthyLivingAndWellbeing')">Healthy Living and Well-being</a>
                            <button type="button" onclick="appendTag('RandomActsOfKindness')">Random Acts of Kindness</a>
                            <button type="button" onclick="appendTag('ConnectingWithNature')">Connecting with Nature</a>
                            <button type="button" onclick="appendTag('QuotesAndWisdom')">Quotes and Wisdom</a>
                            <button type="button" onclick="appendTag('MusicAndMelodiesForTheSoul')">Music and Melodies for the Soul</a>
                            <button type="button" onclick="appendTag('HobbiesAndLeisure')">Hobbies and Leisure</a>
                            <button type="button" onclick="appendTag('BookRecommendationsAndReviews')">Book Recommendations and Reviews</a>
                        </div>                        
                    </div>
                    <button type="submit" class='post-btn'>Post</button>
                </div>
            </div>
        </form>  

        <div class="feed"><!-- This is only for the date to get extracted -->
            <% function formatDate(date) { %>
                <% var hours = date.getHours(); %>
                <% var minutes = date.getMinutes(); %>
                <% var day = date.getDate(); %>
                <% var month = date.getMonth() + 1; // JavaScript months are 0-based %>
                <% var year = date.getFullYear(); %>
            
                <% // pad with a zero if necessary %>
                <% hours = hours < 10 ? '0' + hours : hours; %>
                <% minutes = minutes < 10 ? '0' + minutes : minutes; %>
                <% day = day < 10 ? '0' + day : day; %>
                <% month = month < 10 ? '0' + month : month; %>
            
                <% return hours + ':' + minutes + ', ' + day + '/' + month + '/' + year; %>
            <% } %>
            <% posts.forEach(function(post) { %>
                <div class="feed-container">
                    <div class="feed-box">
                        <p class="user-info">
                            <%= formatDate(new Date(post.date)) %>
                        </p>
                        <p class="post-info">
                            <%= post.post %>
                        </p>
                        <div class="like-button">
                            <div class="heart-bg">
                              <div class="heart-icon"></div>
                            </div>
                            <div class="likes-amount">69</div>
                            <button ><i class="fa-solid fa-share fa-2x"></i></button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        /* POPPINS FONT */
        /* general */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            /* border: 1px solid; */
        }

        .icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        }

        body {
            /* background-image: linear-gradient(180deg, rgb(5, 26, 53, 1), rgb(5, 26, 53, 0.8)); */
            background-color: rgb(5, 26, 53);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        /* nav bar section */
        .nav {
            position: fixed;
            top: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100px;
            line-height: 100px;
            border-bottom: 0.1px solid white;
            background-color: rgb(5, 26, 53);
            z-index: 3;
        }

        .nav-menu ul {
            display: flex;
        }
        .nav-logo{
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* border: 1px solid red; */
        }
        .nav-logo img{
            width: 3em;
            height: 3em;
            margin-top: 25px;
            padding: 5px;
            /* padding-left: 10px;   */
            padding-right: 10px;       
            box-sizing: border-box;
            /* border: 1px solid red; */
        }
        .nav-logo p{
            color: white;
            font-size: 25px;
            font-weight: 600;
            /* border: 1px solid red; */
        }
   
        .nav-menu ul li {
            list-style-type: none;
        }
        /* Code for dropdown  */

        .nav-menu ul li .dropdown {
        display: none; /* Hide the dropdown menu by default */
        position: absolute; /* Position the dropdown menu absolutely to the parent li */
        background-color: rgb(5, 26, 53); /* Background color of the dropdown menu */
        min-width: 160px; /* Minimum width of the dropdown menu */
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add some shadow for a nice visual effect */
        z-index: 1; /* Increase the z-index to ensure it is on top */
        max-height: 500px;
        overflow-y: auto; /* Add scroll if content exceeds maximum height */
        }
        .nav-menu ul li .dropdown::-webkit-scrollbar {
            display: none; 
        }
        .nav-menu ul li .dropdown li {
        color: #fff; /* Color of the dropdown items */
        padding: 8px 10pxs; /* Padding for the dropdown items */
        text-decoration: none; /* Remove the underline from the dropdown items */
        display: block; /* Display the dropdown items as block elements */
        text-align:center; /* Align the text to the left */
        }

        .nav-menu ul li .dropdown li:hover {
        background-color: rgba(255, 255, 255, 0.435) !important; /* Change the background color of the dropdown items on hover */
        }

        .nav-menu ul li:hover .dropdown {
        display: block; /* Display the dropdown menu on hover over the parent li */
        
        }

        /* Uptill here  */
        .nav-menu ul li .link {
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            padding-bottom: 15px;
            margin: 0 25px;
        }

        .link:hover,
        .active {
            border-bottom: 2px solid #fff;
        }

        .nav-button .btn {
            width: 130px;
            height: 40px;
            font-weight: 500;
            background: rgba(255, 255, 255, 0.4);
            border: none;
            border-radius: 30px;
            cursor: pointer;
            transition: .3s ease;
        }

        .btn:hover {
            background: rgba(255, 255, 255, 0.3);
        }

        #registerBtn {
            margin-left: 15px;
        }

        .btn.white-btn {
            background: rgba(255, 255, 255, 0.7);
        }

        .btn.btn.white-btn:hover {
            background: rgba(255, 255, 255, 0.5);
        }

        .nav-menu-btn {
            display: none;
        }


        /* ............. */
        .interactions button {
        margin-right: 10px; /* Adjust as needed */
        }

        .interactions i {
        border: none;
        }
        
        .interactions button:last-child {
        margin-right: 0;
        }
        


        /* ............. */

        /* SEARCH BAR */
        .srch {
            width: 300px;
            /* max-width: 400px; */
            margin: 30px;
            background: rgba(255, 255, 255, 0.2);
            display: flex;
            align-items: center;
            border-radius: 60px;
            padding: 4px 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(4px) saturate(180%);
        }

        .srch input {
            background: transparent;
            flex: auto;
            border: 0;
            outline: none;
            padding: 4px;
            font-size: 16px;
            color: rgba(209, 204, 204, 0.81);
        }

        .srch ::placeholder {
            color: rgba(209, 204, 204, 0.81);
        }

        .srch button {
            border: 0;
            border-radius: 50%;
            width: 60px;
            height: auto;
            background: transparent;
            cursor: pointer;
        }

        /* FEED AND create-post section */
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 110vh;
            background: rgba(39, 39, 39, 0.4);
            z-index: 2;
        }


        #create-post {
            margin-top: 200px;
            padding: 25px;
            background-color: #fbf3e4;
        }

        .feed-container .feed-box textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 0px;
            max-height: 500px;
            padding: 10px;
            outline: none;
            border: none;
            resize: none;
            cursor: auto;
            font-size: 1.5em;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: rgba(255, 255, 255, 0);
        }

        .feed-container .feed-box textarea::-webkit-scrollbar {
            width: 0px;
        }

        .feed-interactions .post-btn {
            border: 2px solid black;
            justify-content: right;
            border-radius: 5px;
            margin: 5px 30px;
            padding: 5px 10px;
            font-weight: 300;
            background: rgba(255, 255, 255, 0.7);
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
            transition: .3s ease;
            
        }

        .feed-interactions .post-btn :hover {
            background: rgba(255, 255, 255, 0.3);
        }


        /* feed general */
        .feed-container {
            margin: 20px;
            width: 750px;
            padding: 20px;
            border-radius: 20px;
            background-color: #fbf3e4;
        }

        .feed-container .feed-box p {
            padding: 15px;
        }

        .like-button {
            display: flex;
            justify-content: right;
            padding: 20px 0;
        }

        .feed-interactions {
            display: flex;
            justify-content: right;
            padding: 20px 0;
        }

        .feed-btn {
            padding: 0 20px;
        }
        
        .like-button button ,.heart-bg {
            /* background: #ffffff;
            margin-right: 20px; 
            border: none;  */
            color: rgb(12, 12, 12); /* Change this to your desired text color */
            background-color: #f9f9f9;
            padding: 6px 6px;
            text-decoration: none;
            display: block;
            border-radius: 6px;
        }
        
        .like-button .heart-icon {
            height: 100px;
            width: 100px;
            background: url("/heart.png");
            background-position: left;
            cursor: pointer;
            position: absolute;
        }

        .like-button .heart-icon.liked {
            animation: like-anim 0.7s steps(28) forwards;
        }

        @keyframes like-anim {
        to {
            background-position: right;
            }
        }

        .like-button .heart-bg {
            background: rgba(255, 192, 200, 0);
            border-radius: 50%;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 100ms ease;
        }

        .like-button .heart-bg:hover {
        background: rgba(255, 192, 200, 0.7);
        }

        .like-button {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        /* justify-content: space-between; */
        }

        .like-button .likes-amount {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        color: #888;
        font-weight: 900;
        /* margin-bottom: 6px; */
        margin-right: 2rem;
        
        }
        .likes-amount {
            display: flex;
            flex-direction: column;
            
        }



        /* media section */
        @media only screen and (max-width: 786px) {
            .nav-button {
                display: none;
            }

            .nav-menu.responsive {
                top: 100px;
            }

            .nav-menu {
                position: absolute;
                top: -800px;
                display: flex;
                justify-content: center;
                background: rgba(255, 255, 255, 0.2);
                width: 100%;
                height: 90vh;
                backdrop-filter: blur(20px);
                transition: .3s;
            }

            .nav-menu ul {
                flex-direction: column;
                text-align: center;
            }

            .nav-menu-btn {
                display: block;
            }

            .nav-menu-btn i {
                font-size: 25px;
                color: #fff;
                padding: 10px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                cursor: pointer;
                transition: .3s;
            }

            .nav-menu-btn i:hover {
                background: rgba(255, 255, 255, 0.15);
            }
        }

        @media only screen and (max-width: 540px) {
            .wrapper {
                min-height: 100vh;
            }

            .form-box {
                width: 100%;
                height: 500px;
            }

            .register-container,
            .login-container {
                width: 100%;
                padding: 0 20px;
            }

            .register-container .two-forms {
                flex-direction: column;
                gap: 0;
            }
        }

        /* tags */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            z-index: 1;
            background-color: rgb(5, 26, 53); /* Change this to your desired background color */
            overflow: auto;
            max-height: 200px; /* Change this to your desired maximum height */
        }
        .dropdown-content::-webkit-scrollbar {
            display: none; 
        }

        .dropdown-content button {
            background-color: rgb(5, 26, 53); /* Green background */
            border: none; /* Remove border */
            color: white; /* White text */
            padding: 3px 3px; /* Add some padding */
            text-align: center; /* Center the text */
            text-decoration: none; /* Remove underline */
            display: inline-block;
            font-size: 16px;
            margin: 6px 2px;
            cursor: pointer; /* Change cursor to pointer when hovering over the button */
        }

        .dropdown-content a {
            color: black; /* Change this to your desired text color */
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .show {
            display: block;
        }

    </style>



    <script src="https://kit.fontawesome.com/0f84f242f1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts.js"></script>
    
    <script>//tags
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function appendTag(tag) {
            const textarea = document.getElementById('txtArea');
            const tagsButton = document.querySelector('.dropbtn');
            textarea.value += ' #' + tag;
            tagsButton.textContent = tag;
        }
        const likeButtons = document.querySelectorAll(".like-button");

        likeButtons.forEach((likeButton) => {
        const heartIcon = likeButton.querySelector(".heart-icon");
        const likesAmountLabel = likeButton.querySelector(".likes-amount");

        let likesAmount = Number(likesAmountLabel.innerHTML);

        heartIcon.addEventListener("click", () => {
        heartIcon.classList.toggle("liked");
        if (heartIcon.classList.contains("liked")) {
            likesAmount++;
        } else {
            likesAmount--;
        }

        likesAmountLabel.innerHTML = likesAmount;
    });
});
    </script>

    
</body>

</html>